<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lasso.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FFB095D1D917BBA00407E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FFB09751D917BBA00407E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FFB09801D917BBA00407E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
